In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("matches2020.csv")

In [5]:
data.head()

,Unnamed: 0,gameid,league,blueteam,redteam,bluetop,bluejungle,bluemid,blueadc,bluesupport,redtop,redjungle,redmid,redadc,redsupport,result
0,0,ESPORTSTMNT03/1241318,KeSPA,SANDBOX Gaming,T1,Rumble,Elise,Qiyana,MissFortune,Nautilus,Aatrox,Gragas,Mordekaiser,Xayah,Rakan,1
1,1,ESPORTSTMNT03/1241322,KeSPA,T1,SANDBOX Gaming,Jayce,JarvanIV,Orianna,MissFortune,Nautilus,Aatrox,Elise,Qiyana,Varus,TahmKench,0
2,2,ESPORTSTMNT03/1241324,KeSPA,T1,SANDBOX Gaming,Renekton,RekSai,Mordekaiser,Xayah,Rakan,Aatrox,Sejuani,Azir,MissFortune,Nautilus,1
3,3,ESPORTSTMNT03/1241328,KeSPA,T1,SANDBOX Gaming,Pantheon,Elise,Nautilus,Xayah,Rakan,Quinn,Olaf,Orianna,MissFortune,Leona,0
4,4,ESPORTSTMNT03/1241386,KeSPA,DRX,Afreeca Freecs,Mordekaiser,JarvanIV,Ryze,Xayah,Rakan,Renekton,Elise,Velkoz,Varus,Braum,0

In [6]:
def number_of_games(df):
    return df.shape[0]

In [7]:
number_of_games(data)

5612

In [8]:
def number_of_games_lfl(df):
    return df.loc[df["league"] == "LFL"].shape[0]

In [9]:
number_of_games_lfl(data)

129

In [10]:
def redside_winrate(df):
    return df.loc[df["result"] == 0].shape[0] / number_of_games(df)

In [11]:
redside_winrate(data)

0.4718460441910192

In [53]:
def list_equip_lfl(df):
    return df.loc[df["league"] == "LFL", "blueteam"].drop_duplicates()

In [54]:
list_equip_lfl(data)

45    Misfits Premier
46           GameWard
47             Solary
48       Vitality.Bee
50       GamersOrigin
51            LDLC OL
93          Team MCES
95          IZI Dream
Name: blueteam, dtype: object